.alert__field {
  padding: 2rem 5rem;
  background-color: $first-section-color;
  line-height: 0;

  h2 {
    text-align: left;
    font-weight: 700;
  }

  p {
    font-family: $font-base;
    font-weight: 400;
    font-size: .875rem;
  }
}

.checkbox {
  position: relative;
  display: flex;
  margin: 1.5rem 0;

  input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }

  .checkmark {
    height: 1.5rem;
    width: 1.5rem;
    background-color: transparent;
    border: 1px solid $dark-color;
    cursor: pointer;
    margin-right: 1rem;
  }

}

.giveaway__field {
  display: flex;
  justify-content: center;
  position: relative;
  left: -4rem;
}

.giveaway__form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 100%;
  height: 600px;
  background-image: url("../assets/Background-Form.jpg");
  background-size: cover;
  background-position: center;
  padding: 2rem 5rem;
  position: relative;

  p {
    margin: 0;
    font-family: $font-base;
    font-size: 1rem;
  }

  .form__thank_you {
    position: absolute;
    top: 30%;
    left: 20%;
    text-align: center;
  }
}

.giveaway__instruction {
  display: flex;
  justify-content: center;
  align-items: center;

  h3 {
    font-weight: 300;
  }
}

.giveaway__instruction__field {
  text-align: center;
  max-width: 3.75rem;
  margin: 2rem 1.5rem;
  position: relative;
  line-height: .1rem;

  &:before {
    content: '';
    position: absolute;
    display: block;
    border: 1px solid $dark-color;
    width: 6.25rem;
    height: 6.25rem;
    margin-left: -1.25rem;
    transform: rotate(45deg);
  }
}

.giveaway__nav_field {
  width: 50%;
}

.input__data {
  display: flex;

  .input__address {
    display: flex;
    flex-direction: column;

    .input__address__element {
      display: flex;
      align-items: center;
      margin: .4rem 5rem .5rem 0;
      text-align: left;

      label {
        display: inline;
        width: 6rem;
      }

      input {
        background-color: transparent;
        border: 1px solid $dark-color;
        width: 10rem;
        height: 1.3rem;
      }

      .input__supplier {
        height: 5rem;
        background-color: transparent;
        border: 1px solid $dark-color;
        width: 10rem;
        resize: none;
      }

      .label__supplier {
        align-self: flex-start;
      }

      p {
        width: 10rem;
      }
    }
  }
}

.input__localization {
  margin-top: 1rem;
  width: 22rem;
  background-color: transparent;
  border: 1px solid $dark-color;
  padding: .3rem;
}

.list__help_groups {
  padding-left:  0;
  margin-top: 0;
  margin-bottom: 2rem;
  display: flex;
  flex-wrap: wrap;
  width: 31.25rem;

  .checkbox {
    position: relative;
    display: flex;
    margin: .5rem 0;

    .help_group {
      padding: .5rem 1rem;
      background-color: transparent;
      border: 1px solid $dark-color;
      cursor: pointer;
      margin: 0 1rem 0 0;
    }
  }
}

.select__step2 {
  display: flex;
  align-items: center;
  position: relative;

  .hidden {
    display: none;
  }

  p {
    margin-right: 1rem;
  }
}

.summary__icon {
  display: flex;
  align-items: center;

  img {
    width: 2rem;
    height: 2rem;
    margin-right: 1rem;
  }
}
