.form__signIn__field {
  background-color: $background-color;
  padding: 2rem 3rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  p {
    margin-top: 0;
    line-height: 0;
  }
}

.nav__signIn {
  margin-right: 6rem;

  .nav__field {
    margin-top: 1rem;
  }
}

.signIn__buttons {
    margin-top: 2rem;
    text-align: center;

    .form__button {
      margin: 0 5rem;
    }
}

.signIn__container {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;

  .form__signIn {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    label {
      font-size: 0.75rem;
    }

    input {
      width: 13rem;
      margin: 0.5rem 0;
      border: none;
      border-bottom: 1px solid $dark-color;
      background-color: $background-color;
    }
  }
}
